@media screen and (max-width: 1024px) {
    section {
        padding: 55px 0 60px;

        &.accent {
            &:before {
                width: 100%;
                border-radius: 0;
            }
        }
    }

    .container {
        padding-right: 20px;
        padding-left: 20px;
    }

    .logo {
        img {
            max-width: 126px;
        }
    }

    .header-nav {
        padding-top: 18px;
        padding-bottom: 16px;

        &-list {
            flex-direction: column;
            padding: 37px 12px 34px;
            gap: 11px;
            font-size: 24px;
            line-height: 222%;

        }

        .btn {
            padding: 21px 82px;
        }
    }

    .mobile-container {
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        position: absolute;
        top: 71px;
        left: 0;
        flex-direction: column;
        background-color: $bg-secondary;
        padding: 0 40px 60px;
        align-items: center;
        transform: translate(-100%);
        box-shadow: 14px 22px 40px 0 rgba(30, 35, 66, 0.28);

        &.show {
            visibility: visible;
            opacity: 1;
            transform: translate(0);
        }
    }

    .slider-info {
        padding: 0;

        .swiper-slide {
            min-height: calc(100vh - 71px);
            border-radius: 0;
            padding: 68px 20px 0;
            background-position: center;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: #04051199;
            }
        }

        .btn-lg {
            padding: 19.6px 25px;
        }
    }

    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &-title {
            font-size: 32px;
        }

        &-description {
            font-size: 16px;
            max-width: 275px;
            margin-bottom: 20px;
        }
    }

    .template-title {
        h2 {
            font-size: 24px;
        }

        h3 {
            font-size: 18px;
        }

        &:after {
            bottom: 42px;
        }

        &.half-section {
            margin: 0 auto;
            text-align: center;
        }
    }
}
