.first-screen {
    padding-top: 0;
    padding-bottom: 0;
}

.swiper-info {
    @extend .container-xxl;
    overflow: hidden;
    position: relative;

    .swiper-slide {
        display: flex;
        align-items: center;
        min-height: 700px;
        background-size: cover;
        border-radius: 20px;
        padding: 0 72px;
    }

    .swiper-pagination {
        bottom: 35px;
    }

    .arrow-container {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 1570px;
    }

}

.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    width: 72px;
    height: 48px;

    &:hover {
        color: $color-secondary !important;
    }
}


.swiper-pagination-bullet {
    background: transparent;
    opacity: 1;
    border: 2px solid #fff;

    &.swiper-pagination-bullet-active {
        background: #fff;
    }
}

.banner {
    padding-bottom: 63px;

    &-title {
        font-size: 56px;
        line-height: 1.26;
        margin-bottom: 9px;
        max-width: 440px;
        text-transform: uppercase;
    }

    &-description {
        font-size: 20px;
        line-height: 1.35;
        margin-bottom: 37px;
        font-weight: 300;
        max-width: 320px;
    }
}
