<section class="first-screen">
    
        <div class="slider-info">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url(assets/img/first-screen-1.png);">
                    <div class="container">
                        <div class="banner">
                            <h1 class="banner-title">Прямое КАРГО из Китая</h1>
                            <h6 class="banner-description">Доставляем любые грузы из Китая по честной цене</h6>
                            <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url(assets/img/first-screen-2.png);">
                    <div class="container">
                        <div class="banner">
                            <h2 class="banner-title">Прямое КАРГО из Китая</h2>
                            <h6 class="banner-description">Доставляем любые грузы из Китая по честной цене</h6>
                            <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url(assets/img/first-screen-3.png);">
                    <div class="container">
                        <div class="banner">
                            <h2 class="banner-title">Прямое КАРГО из Китая</h2>
                            <h6 class="banner-description">Доставляем любые грузы из Китая по честной цене</h6>
                            <button type="button" class="btn btn-primary btn-lg">Рассчитать стоимость<img src="assets/img/icon-arrow-left.svg" class="icon" alt="icon"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="arrow-container">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
</section>
 