<header>
    <nav class="header__nav container d-flex justify-content-between ">
        <a href="#">
        <img class="header__logo" src="assets/img/logo.svg" alt="">
    </a>
        <div class="mobile-container d-lg-flex">
            <div class="header__nav__link-block d-flex">
                <a href="#">Ціни та терміни</a>
                <a href="#">Послуги</a>
                <a href="#">Про компанію</a>
                <a href="#">Контакти</a>
                <a href="#">Оформити вантаж</a>
            </div>
            <button type="button" class="btn btn-primary btn-small">Залишити заявку</button>
        </div>
        <button class="hamburger hamburger--spin d-lg-none d-flex" id="hamburger" type="button">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
        </button>
    </nav>
</header>

